In [1]:
import pandas as pd

In [2]:
college=pd.read_csv('data/college.csv')
college.head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [3]:
grouped=college.groupby(['STABBR','RELAFFIL'])

In [4]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [12]:
# all available functionalities of groupby object

In [11]:
print([option for option in dir(grouped) if not option.startswith('_')])

['CITY', 'CURROPER', 'DISTANCEONLY', 'GRAD_DEBT_MDN_SUPP', 'HBCU', 'INSTNM', 'MD_EARN_WNE_P10', 'MENONLY', 'PCTFLOAN', 'PCTPELL', 'PPTUG_EF', 'RELAFFIL', 'SATMTMID', 'SATVRMID', 'STABBR', 'UG25ABV', 'UGDS', 'UGDS_2MOR', 'UGDS_AIAN', 'UGDS_ASIAN', 'UGDS_BLACK', 'UGDS_HISP', 'UGDS_NHPI', 'UGDS_NRA', 'UGDS_UNKN', 'UGDS_WHITE', 'WOMENONLY', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

In [14]:
# number of groupings in object

In [15]:
grouped.ngroups

112

In [20]:
# inspecting aggregated keys values

In [19]:
print(list(grouped.groups.keys())[:10])

[('AK', 0), ('AK', 1), ('AL', 0), ('AL', 1), ('AR', 0), ('AR', 1), ('AS', 0), ('AZ', 0), ('AZ', 1), ('CA', 0)]

In [21]:
# reference to chosen group

In [22]:
grouped.get_group(('AK',1))

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
61,Alaska Bible College,Palmer,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0370,0.0,0.0000,0.1481,1,0.3571,0.2857,0.4286,NaN,PrivacySuppressed
64,Alaska Pacific University,Anchorage,AK,0.0,0.0,0.0,1,555.0,503.0,0.0,...,0.0945,0.0,0.0873,0.3745,1,0.3152,0.5297,0.4910,47000,23250
5417,Alaska Christian College,Soldotna,AK,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0147,0.0,0.1324,0.0735,1,0.8868,0.6792,0.2264,NaN,PrivacySuppressed

In [26]:
# selecting first and last element from each group

In [25]:
grouped.nth([1,-1]).head(10)

                                                      INSTNM         CITY  \
STABBR RELAFFIL
AK     0                      University of Alaska Fairbanks    Fairbanks
       0                                   Ilisagvik College       Barrow
       1                           Alaska Pacific University    Anchorage
       1                            Alaska Christian College     Soldotna
AL     0                 University of Alabama at Birmingham   Birmingham
       0             Alabama College of Osteopathic Medicine       Dothan
       1                         Birmingham Southern College   Birmingham
       1                Strayer University-Huntsville Campus   Huntsville
AR     0         University of Arkansas for Medical Sciences  Little Rock
       0                      University of Phoenix-Arkansas  Little Rock

                 HBCU  MENONLY  WOMENONLY  SATVRMID  SATMTMID  DISTANCEONLY  \
STABBR RELAFFIL
AK     0          0.0      0.0        0.0       NaN       NaN           0.0
       0          0.0      0.0        0.0       NaN       NaN           0.0
       1          0.0      0.0        0.0     555.0     503.0           0.0
       1          0.0      0.0        0.0       NaN       NaN           0.0
AL     0          0.0      0.0        0.0     570.0     565.0           0.0
       0          0.0      0.0        0.0       NaN       NaN           0.0
       1          0.0      0.0        0.0     560.0     560.0           0.0
       1          NaN      NaN        NaN       NaN       NaN           NaN
AR     0          0.0      0.0        0.0       NaN       NaN           0.0
       0          0.0      0.0        0.0       NaN       NaN           0.0

                    UGDS  UGDS_WHITE  ...  UGDS_2MOR  UGDS_NRA  UGDS_UNKN  \
STABBR RELAFFIL                       ...
AK     0          5536.0      0.4259  ...     0.0401    0.0110     0.3060
       0           109.0      0.1376  ...     0.0000    0.0183     0.0000
       1           275.0      0.5309  ...     0.0945    0.0000     0.0873
       1            68.0      0.0588  ...     0.0147    0.0000     0.1324
AL     0         11383.0      0.5922  ...     0.0368    0.0179     0.0100
       0             NaN         NaN  ...        NaN       NaN        NaN
       1          1180.0      0.7983  ...     0.0051    0.0000     0.0051
       1             NaN         NaN  ...        NaN       NaN        NaN
AR     0           711.0      0.7370  ...     0.0281    0.0070     0.0169
       0           551.0      0.3775  ...     0.0381    0.0000     0.2323

                 PPTUG_EF  CURROPER  PCTPELL  PCTFLOAN  UG25ABV  \
STABBR RELAFFIL
AK     0           0.3887         1   0.2263    0.2550   0.4519
       0           0.6239         1   0.1323    0.0000   0.6498
       1           0.3745         1   0.3152    0.5297   0.4910
       1           0.0735         1   0.8868    0.6792   0.2264
AL     0           0.2607         1   0.3460    0.5214   0.2422
       0              NaN         1      NaN       NaN      NaN
       1           0.0017         1   0.1920    0.4809   0.0152
       1              NaN         1      NaN       NaN      NaN
AR     0           0.2433         1   0.3944    0.6144   0.5133
       0           0.0000         1   0.7161    0.6564      NaN

                 MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
STABBR RELAFFIL
AK     0                   36200               19355
       0                   24900   PrivacySuppressed
       1                   47000               23250
       1                     NaN   PrivacySuppressed
AL     0                   39700             21941.5
       0                     NaN   PrivacySuppressed
       1                   44200               27000
       1                   49200             36173.5
AR     0                   61400               12500
       0                     NaN               33000

[10 rows x 25 columns]